@font-face {
  font-family: 'PPMondwest';
  src: url('./src/assets/PPMondwest-Regular.otf');
}

html,
body {
  overflow: hidden;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #C5CDD8, #DBCCC7);
  overflow-x: hidden;
  margin: 0;
}

a {
  color: black;
}

p {
  font-family: 'Helvetica Neue';
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

li {
  font-family: 'Helvetica Neue';
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-size: 3.4rem;
  margin: 0;
}

.h1-pixel {
  font-family: 'PPMondwest';
  font-weight: 400;
  font-size: 3.6rem;
}

h3 {
  font-family: 'Helvetica Neue';
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.category-font {
  color: #ffffff;
}

h4 {
  font-family: 'Helvetica Neue';
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h5 {
  font-family: 'Helvetica Neue';
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0;
  margin: 1rem 0 1rem 0;
}